<h1 class="text-center text-white">Hi, {{name}}, Welcome to Friend Finder!</h1>
<br/>
<div class="container main-container">
	<div class="row">
		<div class="col-md-9">
			<h3 class="text-center">Answer the questions to match with your potential friend</h3>
			<br/>
			<form action="/survey" method="POST">
			<ul class="questionList">
			  {{#each question}}
			  	<li >
			  	   <p class="font-italic">Question #{{this.id}}:</p>
			       <p class="font-weight-bold text-center">"{{this.question}}"</p>
						 <div id="slider{{this.id}}" class="slider"></div>
						 <input value='' class="input{{this.id}}" name='answer{{this.id}}' type="hidden">
			  	</li>
				  <br/> <br/>
			  {{/each}}
			</ul>
				<div class="text-center"><input class="index-span submit" type="submit" value="Submit"></div>
			</form>
		</div>
		<div class="col-md-3">
			<div class="card">
				<div>
					<img class="card-picture" src="{{pic}}">
				</div>
				<div class="card-body">
					<p class="text-center">{{name}}</p>
					<p class="text-center">{{age}} years old</p>
				</div>
				<br/>
				<p>
					<form action="/dropname" class="text-center font-italic not-me" method="POST">
						<input class="submit" type="submit" value="This is not me!">
					</form>
				</p>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$(document).on('mouseover', '.submit', function() {
				$(`.input2`).attr('value', $(`#slider2`).slider( "value" ))
				$(`.input12`).attr('value', $(`#slider12`).slider( "value" ))
				$(`.input22`).attr('value', $(`#slider22`).slider( "value" ))
				$(`.input32`).attr('value', $(`#slider32`).slider( "value" ))
				$(`.input42`).attr('value', $(`#slider42`).slider( "value" ))
				$(`.input52`).attr('value', $(`#slider52`).slider( "value" ))
				$(`.input62`).attr('value', $(`#slider62`).slider( "value" ))
				$(`.input72`).attr('value', $(`#slider72`).slider( "value" ))
				$(`.input82`).attr('value', $(`#slider82`).slider( "value" ))
				$(`.input92`).attr('value', $(`#slider92`).slider( "value" ))
		});
		$(document).on('focus', '.submit', function() {
				$(`.input2`).attr('value', $(`#slider2`).slider( "value" ))
				$(`.input12`).attr('value', $(`#slider12`).slider( "value" ))
				$(`.input22`).attr('value', $(`#slider22`).slider( "value" ))
				$(`.input32`).attr('value', $(`#slider32`).slider( "value" ))
				$(`.input42`).attr('value', $(`#slider42`).slider( "value" ))
				$(`.input52`).attr('value', $(`#slider52`).slider( "value" ))
				$(`.input62`).attr('value', $(`#slider62`).slider( "value" ))
				$(`.input72`).attr('value', $(`#slider72`).slider( "value" ))
				$(`.input82`).attr('value', $(`#slider82`).slider( "value" ))
				$(`.input92`).attr('value', $(`#slider92`).slider( "value" ))
		});
		$(document).on('click', '.submit', function() {
				$(`.input2`).attr('value', $(`#slider2`).slider( "value" ))
				$(`.input12`).attr('value', $(`#slider12`).slider( "value" ))
				$(`.input22`).attr('value', $(`#slider22`).slider( "value" ))
				$(`.input32`).attr('value', $(`#slider32`).slider( "value" ))
				$(`.input42`).attr('value', $(`#slider42`).slider( "value" ))
				$(`.input52`).attr('value', $(`#slider52`).slider( "value" ))
				$(`.input62`).attr('value', $(`#slider62`).slider( "value" ))
				$(`.input72`).attr('value', $(`#slider72`).slider( "value" ))
				$(`.input82`).attr('value', $(`#slider82`).slider( "value" ))
				$(`.input92`).attr('value', $(`#slider92`).slider( "value" ))
		});
	})
</script>